*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    overflow-x: hidden;
}

.loj {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 89%);
    border-radius: 10px;
   
}
