.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-around;
}

.navbar {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 89%);
}
.container-fluid,
.contato{
text-align: center;
}
.dropdown-menu {
    cursor: pointer;
}
.dropdown-toggle {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 89%);
}

